build/ap.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Сайт компании
    </title>
    <meta description="" content="">
    <meta keywords="" content="">
    <link rel="stylesheet" href="css/screen.css">
  </head>
  <body>
    <header class="site-header">
      <div class="inner">
        <div class="site-header__top"><a class="site-header__logo" href="/"><img src="/img/template/logo.png">Мордовская ипотечная корпорация</a>
          <div class="site-header__info"><a class="site-header__email" href="mailto:ipoteka@moris.ru"> ipoteka@moris.ru</a><a class="site-header__phone" href="tel:88002002624">8-800-200-26-24</a><a class="site-header__phone" href="tel:+78342246895">+7 8342 24-68-95</a><a class="btn--callme js-callme" href="#">Заказать звонок</a></div>
        </div>
      </div>
      <div class="site-header__bottom">
        <div class="inner">
          <!-- is-active - активная ссылка-->
          <ul class="main-menu">
            <li><a href="#">О компании </a></li>
            <li><a href="#">Построеные</a></li>
            <li><a href="#">Строящиеся</a></li>
            <li><a href="#">Ипотека</a></li>
            <li><a href="#">Социальные проекты</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="site-content">
      <div class="inner">
        <ul class="breadcrumbs">
          <li><a href="#">Главная</a></li>
          <li>/<a href="#">Строящиеся</a></li>
          <li>/<a href="#">Микрорайон «Юбилейный» 2-й район</a></li>
          <li>/<span>Жилой дом (площадка № 9 по генплану)</span></li>
        </ul>
        <h1>Однокомнатная квартира в секции А</h1>
        <div class="apartment-tips">
          На данной странице Вы можете ознакомиться с планировками и стоимостью однокомнатной квартиры, представленной
          в секции №3.
        </div>
        <div class="apartment">
          <div class="apartment__plan"><a class="js-fancyapps" href="/img/ap.png"><img src="/img/ap.png"></a></div>
          <div class="apartment__info">
            <div class="apartment__price">2 250 600 <i class="fa fa-rub"></i></div>
            <div class="fx">
              <div class="apartment__desc">
                <div class="apartment__desc-title">ОПИСАНИЕ</div>
                <div class="apartment__desc-row">1-комнатная квартира</div>
                <div class="apartment__desc-row">Дом №14, 3 этаж, 3 секция</div>
                <div class="apartment__desc-row">Стоимость за кв.м.: 54313 руб.</div>
                <div class="apartment__desc-row">Стоимость при 100% оплате: 2 243 127 руб.</div>
                <div class="apartment__desc-row">Стоимость при рассрочке: 2 749 010,60 руб.</div>
                <div class="apartment__desc-row">Стоимость при ипотеке: 2 749 010,60 руб.</div>
                <div class="apartment__desc-row">Sобщ = 41.3 м2</div>
                <div class="apartment__desc-row">Sжил = 18.99 м2</div>
              </div>
              <div class="apartment__helpers"><a class="btn--print" href="#">рАСПЕЧАТАТЬ ИНОФРМАЦИЮ</a><a class="btn--calc" href="#">иПОТЕЧНЫЙ КАЛЬКУЛЯТОР</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="building__other building__other--orange">
        <div class="inner">
          <div class="block-title">Другие дома Этого микрорайона</div>
          <div class="building__other-list"><a class="building__other-item" href="#"><img src="/img/ob-01.png"></a><a class="building__other-item" href="#"><img src="/img/ob-02.png"></a><a class="building__other-item" href="#"><img src="/img/ob-03.png"></a><a class="building__other-item" href="#"><img src="/img/ob-04.png"></a><a class="building__other-item" href="#"><img src="/img/ob-01.png"></a><a class="building__other-item" href="#"><img src="/img/ob-02.png"></a><a class="building__other-item" href="#"><img src="/img/ob-03.png"></a><a class="building__other-item" href="#"><img src="/img/ob-04.png"></a></div><a class="building__other-more" href="#"></a>
        </div>
      </div>
      <div class="documents">
        <div class="inner">
          <div class="block-title">Документы</div>
          <div class="documents__list">
            <div class="documents__col"><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a></div>
            <div class="documents__col"><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)<a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a></a></div>
          </div>
        </div>
      </div>
      <footer class="site-footer">
        <div class="inner fx"><a class="site-footer__logo" href="/"><img src="/img/template/logo-footer.png">Мордовская ипотечная корпорация</a>
          <ul class="site-footer__menu">
            <li><a href="#">О компании</a></li>
            <li><a href="#">Как нас найти</a></li>
            <li><a href="#">Реквизиты</a></li>
            <li><a href="#">Партнеры</a></li>
          </ul>
          <ul class="site-footer__menu">
            <li><a href="#">Проектные декларации</a></li>
            <li><a href="#">Регламентирующие документы</a></li>
            <li><a href="#">Конкурсная документация</a></li>
            <li><a href="#">Акционерам</a></li>
            <li><a href="#">Жилищно-накопительные кооперативы</a></li>
          </ul>
        </div>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/lib.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>

src/ap.pug
extends ./layout/base.pug
include ./layout/header.pug


  block content
    block breadcrumb
      ul.breadcrumbs
        li
          a(href="#") Главная
        li /
          a(href="#") Строящиеся
        li /
          a(href="#") Микрорайон «Юбилейный» 2-й район
        li /
          span Жилой дом (площадка № 9 по генплану)

    h1 Однокомнатная квартира в секции А
    .apartment-tips
      | На данной странице Вы можете ознакомиться с планировками и стоимостью однокомнатной квартиры, представленной
      | в секции №3.
    .apartment
      .apartment__plan
        a(href='/img/ap.png').js-fancyapps
          img(src='/img/ap.png')
      .apartment__info
        .apartment__price
          | 2 250 600 <i class="fa fa-rub"></i>
        .fx
          .apartment__desc
            .apartment__desc-title ОПИСАНИЕ
            .apartment__desc-row 1-комнатная квартира
            .apartment__desc-row Дом №14, 3 этаж, 3 секция
            .apartment__desc-row Стоимость за кв.м.: 54313 руб.
            .apartment__desc-row Стоимость при 100% оплате: 2 243 127 руб.
            .apartment__desc-row Стоимость при рассрочке: 2 749 010,60 руб.
            .apartment__desc-row Стоимость при ипотеке: 2 749 010,60 руб.
            .apartment__desc-row Sобщ = 41.3 м2
            .apartment__desc-row Sжил = 18.99 м2
          .apartment__helpers
            a.btn--print(href='#') рАСПЕЧАТАТЬ ИНОФРМАЦИЮ
            a.btn--calc(href='#') иПОТЕЧНЫЙ КАЛЬКУЛЯТОР
  block bottom
    .building__other.building__other--orange
      .inner
        .block-title Другие дома Этого микрорайона
        .building__other-list
          a.building__other-item(href='#'): img(src='/img/ob-01.png')
          a.building__other-item(href='#'): img(src='/img/ob-02.png')
          a.building__other-item(href='#'): img(src='/img/ob-03.png')
          a.building__other-item(href='#'): img(src='/img/ob-04.png')
          a.building__other-item(href='#'): img(src='/img/ob-01.png')
          a.building__other-item(href='#'): img(src='/img/ob-02.png')
          a.building__other-item(href='#'): img(src='/img/ob-03.png')
          a.building__other-item(href='#'): img(src='/img/ob-04.png')
        a.building__other-more(href='#')
    .documents
      .inner
        .block-title Документы
        .documents__list
          .documents__col
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
          .documents__col
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
              a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
              a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
              a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
include ./layout/footer.pug
