src/article.pug
extends ./layout/base.pug
include ./layout/header.pug

  block top-bar
    .inner-banner
  block main-section
    .inner.flex-row

      block aside-left
        aside
          nav
            ul.left-menu
              li: a(href='#') Если вам положена субсидия
              li: a(href='#') О коммерческой ипотеке
              li: a(href='#') Условия страхования
              li: a(href='#') Расходы заемщика по ипотечному займу
              li: a(href='#') Полная стоимость кредита
              li: a(href='#') Документация, необходимая при обращении
      block content
        .content
          block breadcrumb
            // эта фигня заменяет хлебные крошки базового шаблона, в данном случае обнуляет их потому что страница главная
          .page-heading: h1 Условия страхования
          p Обязательным условием является страхование предмета залога (приобретаемой недвижимости)
          p Недвижимость, которая служит залогом по кредиту, может потерять свою ценность как для заемщика, так и для кредитора, если будет повреждена или разрушена в результате несчастного случая (пожара, залива, взрыва и т. п.). Но при этом заемщик все равно будет обязан возвращать полученный кредит. Отказаться погашать кредит нельзя, потому что владелец закладной вправе потребовать возмещения за счет иного имущества и доходов заемщика. В этом случае и необходима страховка - она поможет погасить задолженность по ипотечному кредиту, если с предметом залога произойдет какая-то серьезная неприятность.
          img(src='/img/strahovka.png' style='margin-bottom: 1rem')
          p
            | По закону вы обязаны застраховать залог по ипотеке только на сумму основного долга по кредиту, включая проценты. В этом случае страховая компания компенсирует указанную в договоре страхован
            | ия сумму кредита и проценты по нему, но при этом компенсация не может превышать стоимости заложенного имущества (стоимость указывается в кредитном договоре). Все остальные убытки не компенсируются.
          h2 СТраховка
          p Поэтому при заключении договора страхования предмета залога рекомендуется застраховать недвижимость не на сумму кредита, а на полную стоимость недвижимости. Если вдруг произойдет несчастье, то страховая компания не только погасит за вас остаток задолженности по кредиту, но и выплатит возмещение. <a href='#'>Размер возмещения составит</a> разницу между суммой, в которую оценен нанесенный недвижимости ущерб, и остатком задолженности по кредиту.
          p
            | По желанию заемщика может быть произведено: <br>
            | - личное страхование. Страхование жизни и трудоспособности заемщика (личное страхование) защищает от риска оказаться неспособным платить по кредиту из-за проблем со здоровьем. В таких случаях страховка поможет пережить трудный период в жизни (болезнь, авария, несчастный случай и т.д.) и обеспечит средства на погашение кредита.
          p В случае смерти заемщика, страховая компания полностью погашает остаток задолженности по кредиту. Таким образом, приобретенная в кредит недвижимость переходит к наследникам без обременений, и им не нужно будет погашать остаток задолженности по кредиту.
          h3 ВОПРОСЫ КОМПЕНСАЦИИ
          p - страхование титула. Страхование утраты права собственности заемщика на приобретаемый объект недвижимости (страхование титула) защищает от риска потерять право собственности на объект недвижимости, если сделка по его приобретению будет по какой-либо причине признана незаконной. на заложенную недвижимость.
          p - страхование ответственности заемщика предназначено для тех, кто хочет получить кредит с более низким первоначальным взносом. Поскольку наличие такой страховки снижает для банка риск невозврата кредита, размер первоначального взноса может быть значительно снижен, например, с 30% до 10% от стоимости приобретаемой недвижимости. Кроме того, такая страховка защищает заемщика от риска остаться должником по кредиту даже после обращения взыскания
  block bottom
    include ./layout/block/_project.pug
    include ./layout/block/news-list.pug
    include ./layout/block/parters.pug
include ./layout/footer.pug

build/article.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Сайт компании
    </title>
    <meta description="" content="">
    <meta keywords="" content="">
    <link rel="stylesheet" href="css/screen.css">
  </head>
  <body>
    <header class="site-header">
      <div class="inner">
        <div class="site-header__top"><a class="site-header__logo" href="/"><img src="/img/template/logo.png">Мордовская ипотечная корпорация</a>
          <div class="site-header__info"><a class="site-header__email" href="mailto:ipoteka@moris.ru"> ipoteka@moris.ru</a><a class="site-header__phone" href="tel:88002002624">8-800-200-26-24</a><a class="site-header__phone" href="tel:+78342246895">+7 8342 24-68-95</a><a class="btn--callme js-callme" href="#">Заказать звонок</a></div>
        </div>
      </div>
      <div class="site-header__bottom">
        <div class="inner">
          <!-- is-active - активная ссылка-->
          <ul class="main-menu">
            <li><a href="#">О компании </a></li>
            <li><a href="#">Построеные</a></li>
            <li><a href="#">Строящиеся</a></li>
            <li><a href="#">Ипотека</a></li>
            <li><a href="#">Социальные проекты</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="site-content">
      <div class="inner-banner"></div>
      <div class="inner flex-row">
        <aside>
          <nav>
            <ul class="left-menu">
              <li><a href="#">Если вам положена субсидия</a></li>
              <li><a href="#">О коммерческой ипотеке</a></li>
              <li><a href="#">Условия страхования</a></li>
              <li><a href="#">Расходы заемщика по ипотечному займу</a></li>
              <li><a href="#">Полная стоимость кредита</a></li>
              <li><a href="#">Документация, необходимая при обращении</a></li>
            </ul>
          </nav>
        </aside>
        <div class="content">
          <!-- эта фигня заменяет хлебные крошки базового шаблона, в данном случае обнуляет их потому что страница главная-->
          <div class="page-heading">
            <h1>Условия страхования</h1>
          </div>
          <p>Обязательным условием является страхование предмета залога (приобретаемой недвижимости)</p>
          <p>Недвижимость, которая служит залогом по кредиту, может потерять свою ценность как для заемщика, так и для кредитора, если будет повреждена или разрушена в результате несчастного случая (пожара, залива, взрыва и т. п.). Но при этом заемщик все равно будет обязан возвращать полученный кредит. Отказаться погашать кредит нельзя, потому что владелец закладной вправе потребовать возмещения за счет иного имущества и доходов заемщика. В этом случае и необходима страховка - она поможет погасить задолженность по ипотечному кредиту, если с предметом залога произойдет какая-то серьезная неприятность.</p><img src="/img/strahovka.png" style="margin-bottom: 1rem">
          <p>
            По закону вы обязаны застраховать залог по ипотеке только на сумму основного долга по кредиту, включая проценты. В этом случае страховая компания компенсирует указанную в договоре страхован
            ия сумму кредита и проценты по нему, но при этом компенсация не может превышать стоимости заложенного имущества (стоимость указывается в кредитном договоре). Все остальные убытки не компенсируются.
          </p>
          <h2>СТраховка</h2>
          <p>Поэтому при заключении договора страхования предмета залога рекомендуется застраховать недвижимость не на сумму кредита, а на полную стоимость недвижимости. Если вдруг произойдет несчастье, то страховая компания не только погасит за вас остаток задолженности по кредиту, но и выплатит возмещение. <a href='#'>Размер возмещения составит</a> разницу между суммой, в которую оценен нанесенный недвижимости ущерб, и остатком задолженности по кредиту.</p>
          <p>
            По желанию заемщика может быть произведено: <br>
            - личное страхование. Страхование жизни и трудоспособности заемщика (личное страхование) защищает от риска оказаться неспособным платить по кредиту из-за проблем со здоровьем. В таких случаях страховка поможет пережить трудный период в жизни (болезнь, авария, несчастный случай и т.д.) и обеспечит средства на погашение кредита.
          </p>
          <p>В случае смерти заемщика, страховая компания полностью погашает остаток задолженности по кредиту. Таким образом, приобретенная в кредит недвижимость переходит к наследникам без обременений, и им не нужно будет погашать остаток задолженности по кредиту.</p>
          <h3>ВОПРОСЫ КОМПЕНСАЦИИ</h3>
          <p>- страхование титула. Страхование утраты права собственности заемщика на приобретаемый объект недвижимости (страхование титула) защищает от риска потерять право собственности на объект недвижимости, если сделка по его приобретению будет по какой-либо причине признана незаконной. на заложенную недвижимость.</p>
          <p>- страхование ответственности заемщика предназначено для тех, кто хочет получить кредит с более низким первоначальным взносом. Поскольку наличие такой страховки снижает для банка риск невозврата кредита, размер первоначального взноса может быть значительно снижен, например, с 30% до 10% от стоимости приобретаемой недвижимости. Кроме того, такая страховка защищает заемщика от риска остаться должником по кредиту даже после обращения взыскания</p>
        </div>
      </div>
      <div class="news-block news-block--orange">
        <div class="inner">
          <div class="block-title">СОЦИАЛЬНЫЕ ПРоЕКТЫ<a class="news-block__link" href="#">все проекты >></a></div>
          <div class="news-list">
            <div class="news-item">
              <div class="news-item__img"><img src="/img/news-02.png"></div>
              <div class="news-item__title">Проект «Молодая семья»</div>
              <div class="news-item__anons">
                Оценка эффективности кампании, следовательно, концентрирует повседневный побочный PR-эффект,
                спользуя опыт предыдущих кампаний. Ценовая стратегия неоднозначна. BTL оправдывает стиль менеджмента.
                Социальная ответственность осмысленно концентрирует социальный статус.
              </div>
              <div class="news-item__footer"><a class="news-item__link" href="#">Подробнее >></a></div>
            </div>
            <div class="news-item">
              <div class="news-item__img"><img src="/img/news-01.png"></div>
              <div class="news-item__title">Компенсация кредита для многодетных семей</div>
              <div class="news-item__anons">
                Рыночная информация, следовательно, специфицирует популярный целевой сегмент рынка, повышая конкуренцию.
                Узнавание бренда, не меняя концепции, изложенной выше, индуцирует ролевой рекламный клаттер. CTR,
                в рамках сегодняшних воззрений, по-прежнему устойчив к изменениям спроса. Как предсказывают футурологи
                потребительская база неоднозначна.
              </div>
              <div class="news-item__footer"><a class="news-item__link" href="#">Подробнее >></a></div>
            </div>
            <div class="news-item">
              <div class="news-item__img"></div>
              <div class="news-item__title">Жилье для детей оставшихся без попечения родителей</div>
              <div class="news-item__anons">
                К тому же креативная концепция интегрирована. Рейтинг неверно отражает стратегический SWOT-анализ.
                По сути, опрос неестественно ускоряет конвергентный поведенческий таргетинг.
              </div>
              <div class="news-item__footer"><a class="news-item__link" href="#">Подробнее >></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="news-block">
        <div class="inner">
          <div class="block-title">НОВОСТИ<a class="news-block__link" href="#">архив новостей >></a></div>
          <div class="news-list">
            <div class="news-item">
              <div class="news-item__img"><img src="/img/news.png">
                <div class="news-item__date">26-06-2016</div>
              </div>
              <div class="news-item__anons">
                Оценка эффективности кампании, следовательно, концентрирует повседневный побочный PR-эффект,
                используя опыт предыдущих кампаний. Ценовая стратегия неоднозначна. BTL оправдывает стиль менеджмента.
                Социальная ответственность осмысленно концентрирует социальный статус.
              </div>
              <div class="news-item__footer"><a class="news-item__link" href="#">Подробнее >></a></div>
            </div>
            <div class="news-item">
              <div class="news-item__img">
                <div class="news-item__date">26-06-2016</div>
              </div>
              <div class="news-item__anons">
                Медиапланирование раскручивает межличностный анализ зарубежного опыта, осознав маркетинг как часть
                производства. Рыночная информация, следовательно, специфицирует популярный целевой сегмент рынка,
                повышая конкуренцию. Узнавание бренда, не меняя концепции, изложенной выше, индуцирует ролевой
                рекламный клаттер. CTR, в рамках сегодняшних воззрений, по-прежнему устойчив к изменениям спроса.
                Как предсказывают футурологи потребительская база неоднозначна.
              </div>
              <div class="news-item__footer"><a class="news-item__link" href="#">Подробнее >></a></div>
            </div>
            <div class="news-item">
              <div class="news-item__img"><img src="/img/news.png">
                <div class="news-item__date">26-06-2016</div>
              </div>
              <div class="news-item__anons">
                К тому же креативная концепция интегрирована. Рейтинг неверно отражает стратегический SWOT-анализ.
                По сути, опрос неестественно ускоряет конвергентный поведенческий таргетинг.
              </div>
              <div class="news-item__footer"><a class="news-item__link" href="#">Подробнее >></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="partners">
        <div class="inner">
          <div class="block-title">Партнёры</div>
          <div class="partners__slider">
            <div class="js-partners-slider"><a href="$"><img src="/img/p-01.png"></a><a href="$"><img src="/img/p-02.png"></a><a href="$"><img src="/img/p-03.png"></a><a href="$"><img src="/img/p-04.png"></a><a href="$"><img src="/img/p-05.png"></a><a href="$"><img src="/img/p-06.png"></a></div>
          </div>
        </div>
      </div>
      <footer class="site-footer">
        <div class="inner fx"><a class="site-footer__logo" href="/"><img src="/img/template/logo-footer.png">Мордовская ипотечная корпорация</a>
          <ul class="site-footer__menu">
            <li><a href="#">О компании</a></li>
            <li><a href="#">Как нас найти</a></li>
            <li><a href="#">Реквизиты</a></li>
            <li><a href="#">Партнеры</a></li>
          </ul>
          <ul class="site-footer__menu">
            <li><a href="#">Проектные декларации</a></li>
            <li><a href="#">Регламентирующие документы</a></li>
            <li><a href="#">Конкурсная документация</a></li>
            <li><a href="#">Акционерам</a></li>
            <li><a href="#">Жилищно-накопительные кооперативы</a></li>
          </ul>
        </div>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/lib.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
