src/contacts.pug
extends ./layout/base.pug
include ./layout/header.pug

  block top-bar
    .inner-banner
    .inner.page-heading
      h1  Контакты
    .contact-map
      | <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=A6avpSFlqEaU5SeBAVRpOWuvjP9JQgTc&amp;width=100%&amp;height=464&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
      .inner
        .contact-map__address
          | Адрес: 430005, Республика Мордовия, г.Саранск, ул. Коммунистическая, 89
          br
          br
          a(href='mailto:ipoteka@moris.ru') E-mail: ipoteka@moris.ru
          br
          br
          | Тел: 8-800-200-2624, (8342) 24-68-95 Тел/факс: (8342) 24-29-83
          br
          br
          | Часы работы: с 9 до 18 ч.
          | Перерыв: с 13 до 14 ч.
          br
          br
          | Выходные: суббота, воскресенье
  block main-section
    .inner.flex-row
      block content
        .content
          block breadcrumb
            // эта фигня заменяет хлебные крошки базового шаблона, в данном случае обнуляет их потому что страница главная
          .contact
            .block-title Реквизиты
            .contact__row
              .contact__info
                | ОГРН  1021300979127 <br>
                | ИНН 1326183513 <br>
                | КПП 132601001 <br>
                | ОКВЭД  45.2 <br>
                | ОКПО 57561646 <br>
                | <br>
                | ОКОНХ  9619083400 <br>
                | ОКОПФ  47 <br>
                | ОКАТО  89401000000 <br>
                | <br>
                | <br>
                | АО «Мордовская ипотечная корпорация» <br>
                | ИНН/КПП  1326183513/132601001 <br>
                | Р/с 40702810800000001126 в <br>
                | АКБ «АКТИВБАНК» (ПАО) г. Саранск <br>
                | К/с 30101810500000000752  БИК 048952752 <br>
                | <br>
                | Республика Мордовия, г. Саранск, ул. Коммунистическая, 89 <br>
                | Тел: 8-800-200-2624, (8342) 24-68-95, тел/факс (8342) 24-29-83 <br>
                | <br>
                | Генеральный директор – Лушенков Сергей Валерьевич <br>
              .contact__aside
                a.btn--print(href='#') рАСПЕЧАТАТЬ ИНОФРМАЦИЮ
  block bottom
    include ./layout/block/_project.pug
    include ./layout/block/news-list.pug
    include ./layout/block/parters.pug
include ./layout/footer.pug

build/contacts.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Сайт компании
    </title>
    <meta description="" content="">
    <meta keywords="" content="">
    <link rel="stylesheet" href="css/screen.css">
  </head>
  <body>
    <header class="site-header">
      <div class="inner">
        <div class="site-header__top"><a class="site-header__logo" href="/"><img src="/img/template/logo.png">Мордовская ипотечная корпорация</a>
          <div class="site-header__info"><a class="site-header__email" href="mailto:ipoteka@moris.ru"> ipoteka@moris.ru</a><a class="site-header__phone" href="tel:88002002624">8-800-200-26-24</a><a class="site-header__phone" href="tel:+78342246895">+7 8342 24-68-95</a><a class="btn--callme js-callme" href="#">Заказать звонок</a></div>
        </div>
      </div>
      <div class="site-header__bottom">
        <div class="inner">
          <!-- is-active - активная ссылка-->
          <ul class="main-menu">
            <li><a href="#">О компании </a></li>
            <li><a href="#">Построеные</a></li>
            <li><a href="#">Строящиеся</a></li>
            <li><a href="#">Ипотека</a></li>
            <li><a href="#">Социальные проекты</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="site-content">
      <div class="inner-banner"></div>
      <div class="inner page-heading">
        <h1> Контакты</h1>
      </div>
      <div class="contact-map"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=A6avpSFlqEaU5SeBAVRpOWuvjP9JQgTc&amp;width=100%&amp;height=464&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
        <div class="inner">
          <div class="contact-map__address">Адрес: 430005, Республика Мордовия, г.Саранск, ул. Коммунистическая, 89<br><br><a href="mailto:ipoteka@moris.ru">E-mail: ipoteka@moris.ru</a><br><br>Тел: 8-800-200-2624, (8342) 24-68-95 Тел/факс: (8342) 24-29-83<br><br>
            Часы работы: с 9 до 18 ч.
            Перерыв: с 13 до 14 ч.<br><br>Выходные: суббота, воскресенье
          </div>
        </div>
      </div>
      <div class="inner flex-row">
        <div class="content">
          <!-- эта фигня заменяет хлебные крошки базового шаблона, в данном случае обнуляет их потому что страница главная-->
          <div class="contact">
            <div class="block-title">Реквизиты</div>
            <div class="contact__row">
              <div class="contact__info">
                ОГРН  1021300979127 <br>
                ИНН 1326183513 <br>
                КПП 132601001 <br>
                ОКВЭД  45.2 <br>
                ОКПО 57561646 <br>
                <br>
                ОКОНХ  9619083400 <br>
                ОКОПФ  47 <br>
                ОКАТО  89401000000 <br>
                <br>
                <br>
                АО «Мордовская ипотечная корпорация» <br>
                ИНН/КПП  1326183513/132601001 <br>
                Р/с 40702810800000001126 в <br>
                АКБ «АКТИВБАНК» (ПАО) г. Саранск <br>
                К/с 30101810500000000752  БИК 048952752 <br>
                <br>
                Республика Мордовия, г. Саранск, ул. Коммунистическая, 89 <br>
                Тел: 8-800-200-2624, (8342) 24-68-95, тел/факс (8342) 24-29-83 <br>
                <br>
                Генеральный директор – Лушенков Сергей Валерьевич <br>
              </div>
              <div class="contact__aside"><a class="btn--print" href="#">рАСПЕЧАТАТЬ ИНОФРМАЦИЮ</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="news-block news-block--orange">
        <div class="inner">
          <div class="block-title">СОЦИАЛЬНЫЕ ПРоЕКТЫ<a class="news-block__link" href="#">все проекты >></a></div>
          <div class="news-list">
            <div class="news-item">
              <div class="news-item__img"><img src="/img/news-02.png"></div>
              <div class="news-item__title">Проект «Молодая семья»</div>
              <div class="news-item__anons">
                Оценка эффективности кампании, следовательно, концентрирует повседневный побочный PR-эффект,
                спользуя опыт предыдущих кампаний. Ценовая стратегия неоднозначна. BTL оправдывает стиль менеджмента.
                Социальная ответственность осмысленно концентрирует социальный статус.
              </div>
              <div class="news-item__footer"><a class="news-item__link" href="#">Подробнее >></a></div>
            </div>
            <div class="news-item">
              <div class="news-item__img"><img src="/img/news-01.png"></div>
              <div class="news-item__title">Компенсация кредита для многодетных семей</div>
              <div class="news-item__anons">
                Рыночная информация, следовательно, специфицирует популярный целевой сегмент рынка, повышая конкуренцию.
                Узнавание бренда, не меняя концепции, изложенной выше, индуцирует ролевой рекламный клаттер. CTR,
                в рамках сегодняшних воззрений, по-прежнему устойчив к изменениям спроса. Как предсказывают футурологи
                потребительская база неоднозначна.
              </div>
              <div class="news-item__footer"><a class="news-item__link" href="#">Подробнее >></a></div>
            </div>
            <div class="news-item">
              <div class="news-item__img"></div>
              <div class="news-item__title">Жилье для детей оставшихся без попечения родителей</div>
              <div class="news-item__anons">
                К тому же креативная концепция интегрирована. Рейтинг неверно отражает стратегический SWOT-анализ.
                По сути, опрос неестественно ускоряет конвергентный поведенческий таргетинг.
              </div>
              <div class="news-item__footer"><a class="news-item__link" href="#">Подробнее >></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="news-block">
        <div class="inner">
          <div class="block-title">НОВОСТИ<a class="news-block__link" href="#">архив новостей >></a></div>
          <div class="news-list">
            <div class="news-item">
              <div class="news-item__img"><img src="/img/news.png">
                <div class="news-item__date">26-06-2016</div>
              </div>
              <div class="news-item__anons">
                Оценка эффективности кампании, следовательно, концентрирует повседневный побочный PR-эффект,
                используя опыт предыдущих кампаний. Ценовая стратегия неоднозначна. BTL оправдывает стиль менеджмента.
                Социальная ответственность осмысленно концентрирует социальный статус.
              </div>
              <div class="news-item__footer"><a class="news-item__link" href="#">Подробнее >></a></div>
            </div>
            <div class="news-item">
              <div class="news-item__img">
                <div class="news-item__date">26-06-2016</div>
              </div>
              <div class="news-item__anons">
                Медиапланирование раскручивает межличностный анализ зарубежного опыта, осознав маркетинг как часть
                производства. Рыночная информация, следовательно, специфицирует популярный целевой сегмент рынка,
                повышая конкуренцию. Узнавание бренда, не меняя концепции, изложенной выше, индуцирует ролевой
                рекламный клаттер. CTR, в рамках сегодняшних воззрений, по-прежнему устойчив к изменениям спроса.
                Как предсказывают футурологи потребительская база неоднозначна.
              </div>
              <div class="news-item__footer"><a class="news-item__link" href="#">Подробнее >></a></div>
            </div>
            <div class="news-item">
              <div class="news-item__img"><img src="/img/news.png">
                <div class="news-item__date">26-06-2016</div>
              </div>
              <div class="news-item__anons">
                К тому же креативная концепция интегрирована. Рейтинг неверно отражает стратегический SWOT-анализ.
                По сути, опрос неестественно ускоряет конвергентный поведенческий таргетинг.
              </div>
              <div class="news-item__footer"><a class="news-item__link" href="#">Подробнее >></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="partners">
        <div class="inner">
          <div class="block-title">Партнёры</div>
          <div class="partners__slider">
            <div class="js-partners-slider"><a href="$"><img src="/img/p-01.png"></a><a href="$"><img src="/img/p-02.png"></a><a href="$"><img src="/img/p-03.png"></a><a href="$"><img src="/img/p-04.png"></a><a href="$"><img src="/img/p-05.png"></a><a href="$"><img src="/img/p-06.png"></a></div>
          </div>
        </div>
      </div>
      <footer class="site-footer">
        <div class="inner fx"><a class="site-footer__logo" href="/"><img src="/img/template/logo-footer.png">Мордовская ипотечная корпорация</a>
          <ul class="site-footer__menu">
            <li><a href="#">О компании</a></li>
            <li><a href="#">Как нас найти</a></li>
            <li><a href="#">Реквизиты</a></li>
            <li><a href="#">Партнеры</a></li>
          </ul>
          <ul class="site-footer__menu">
            <li><a href="#">Проектные декларации</a></li>
            <li><a href="#">Регламентирующие документы</a></li>
            <li><a href="#">Конкурсная документация</a></li>
            <li><a href="#">Акционерам</a></li>
            <li><a href="#">Жилищно-накопительные кооперативы</a></li>
          </ul>
        </div>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/lib.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
