src/home.pug
extends ./layout/base.pug
include ./layout/header.pug


  block content
    block breadcrumb
      ul.breadcrumbs
        li
          a(href="#") Главная
        li /
          a(href="#") Строящиеся
        li /
          span Микрорайон «Юбилейный» 2-й район
    h1 Жилой дом (площадка №9 по генплану)
    .building-tips
      | На данной странице Вы можете посмотреть наличие совбодных квартир, ознакомиться с планировками и стоимостью
      | квартир в доме.....
    include ./layout/block/filter.pug
    .building
      .building__img
        .building__img-slider
          .js-building__img-slider
            .building__img-big(href='/img/b-01.png')
              img(src='/img/b-01.png')
            .building__img-big(href='/img/b-01.png')
              img(src='/img/b-01.png')
            .building__img-big(href='/img/b-01.png')
              img(src='/img/b-01.png')
            .building__img-big(href='/img/b-01.png')
              img(src='/img/b-01.png')
            .building__img-big(href='/img/b-01.png')
              img(src='/img/b-01.png')
        .building__img-thumbs
          .js-building__img-thumbs
            a.building__img-thumb(href='/img/b-02.png' data-slide-index="0")
              img(src='/img/b-02.png')
            a.building__img-thumb(href='/img/b-03.png' data-slide-index="1")
              img(src='/img/b-03.png')
            a.building__img-thumb(href='/img/b-04.png' data-slide-index="2")
              img(src='/img/b-04.png')
            a.building__img-thumb(href='/img/b-05.png' data-slide-index="3")
              img(src='/img/b-05.png')
            a.building__img-thumb(href='/img/b-05.png' data-slide-index="4")
              img(src='/img/b-05.png')
      .building__plan
        .plan
          .plan__construct
            .plan__section-a
              .plan__roof
              .plan__row
                a.plan__ap(href='#') 3
                a.plan__ap(href='#') 3
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 1
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 2
              .plan__row
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 3
              .plan__row
                a.plan__ap(href='#') 3
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 3
              .plan__row
                a.plan__ap(href='#') 3
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 1
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 1
              .plan__row
                a.plan__ap(href='#') 3
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 1
                a.plan__ap(href='#') 1
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 3
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 3
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 1
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                .plan__ap
              .plan__footer
              .plan__section-title Секция В
            .plan__section-b
              .plan__roof
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 2
              .plan__row
                .plan__ap
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 3
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 3
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 3
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 2
              .plan__row
                a.plan__ap(href='#') 3
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 3
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 1
                .plan__ap
                a.plan__ap(href='#') 2
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 3
                a.plan__ap(href='#') 3
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                a.plan__ap(href='#') 2
                a.plan__ap(href='#') 2
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__footer
              .plan__section-title Секция Б
            .plan__section-c
              .plan__roof

              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 2
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                a.plan__ap(href='#') 2
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                a.plan__ap(href='#') 2
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__row
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
                .plan__ap
              .plan__footer
              .plan__section-title Секция А
          .plan-tips
            .plan__ap.plan__ap--tips 3
            |- зеленый цвет показывает наличие свободной квартиры, цифра - количество комнат
  block bottom
    .building__other.building__other--orange
      .inner
        .block-title Другие дома Этого микрорайона
        .building__other-list
          a.building__other-item(href='#'): img(src='/img/ob-01.png')
          a.building__other-item(href='#'): img(src='/img/ob-02.png')
          a.building__other-item(href='#'): img(src='/img/ob-03.png')
          a.building__other-item(href='#'): img(src='/img/ob-04.png')
          a.building__other-item(href='#'): img(src='/img/ob-01.png')
          a.building__other-item(href='#'): img(src='/img/ob-02.png')
          a.building__other-item(href='#'): img(src='/img/ob-03.png')
          a.building__other-item(href='#'): img(src='/img/ob-04.png')
    .documents
      .inner
        .block-title Документы
        .documents__list
          .documents__col
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
          .documents__col
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
include ./layout/footer.pug

build/home.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Сайт компании
    </title>
    <meta description="" content="">
    <meta keywords="" content="">
    <link rel="stylesheet" href="css/screen.css">
  </head>
  <body>
    <header class="site-header">
      <div class="inner">
        <div class="site-header__top"><a class="site-header__logo" href="/"><img src="/img/template/logo.png">Мордовская ипотечная корпорация</a>
          <div class="site-header__info"><a class="site-header__email" href="mailto:ipoteka@moris.ru"> ipoteka@moris.ru</a><a class="site-header__phone" href="tel:88002002624">8-800-200-26-24</a><a class="site-header__phone" href="tel:+78342246895">+7 8342 24-68-95</a><a class="btn--callme js-callme" href="#">Заказать звонок</a></div>
        </div>
      </div>
      <div class="site-header__bottom">
        <div class="inner">
          <!-- is-active - активная ссылка-->
          <ul class="main-menu">
            <li><a href="#">О компании </a></li>
            <li><a href="#">Построеные</a></li>
            <li><a href="#">Строящиеся</a></li>
            <li><a href="#">Ипотека</a></li>
            <li><a href="#">Социальные проекты</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="site-content">
      <div class="inner">
        <ul class="breadcrumbs">
          <li><a href="#">Главная</a></li>
          <li>/<a href="#">Строящиеся</a></li>
          <li>/<span>Микрорайон «Юбилейный» 2-й район</span></li>
        </ul>
        <h1>Жилой дом (площадка №9 по генплану)</h1>
        <div class="building-tips">
          На данной странице Вы можете посмотреть наличие совбодных квартир, ознакомиться с планировками и стоимостью
          квартир в доме.....
        </div>
        <div class="filter-title">Быстрый Поиск квартиры</div>
        <form class="filter">
          <div class="filter__group">
            <div class="filter__title">Район</div>
            <select>
              <option>Любой</option>
              <option>Любой</option>
              <option>Любой</option>
              <option>Любой</option>
            </select>
          </div>
          <div class="filter__group">
            <div class="filter__title">Кол-во комнат</div>
            <div class="filter__range">1-2</div>
            <div class="js-range-select" data-select-max="4" data-select-min="1"></div>
          </div>
          <div class="filter__group">
            <div class="filter__title">Площадь (м2)</div>
            <div class="filter__range">50-70</div>
            <div class="js-range-select" data-select-max="120" data-select-min="42"></div>
          </div>
          <div class="filter__group">
            <div class="filter__title">Этаж</div>
            <div class="filter__range">6-17</div>
            <div class="js-range-select" data-select-max="22" data-select-min="1"></div>
          </div>
          <div class="filter__group">
            <div class="filter__title">Цена (млн. руб)</div>
            <div class="filter__range">2-2,5</div>
            <div class="js-range-select" data-select-max="8.5" data-select-min="1.3"></div>
          </div>
          <div class="filter__group--last">
            <input class="btn--green" type="submit" value="Подобрать">
          </div>
        </form>
        <div class="building">
          <div class="building__img">
            <div class="building__img-slider">
              <div class="js-building__img-slider">
                <div class="building__img-big" href="/img/b-01.png"><img src="/img/b-01.png"></div>
                <div class="building__img-big" href="/img/b-01.png"><img src="/img/b-01.png"></div>
                <div class="building__img-big" href="/img/b-01.png"><img src="/img/b-01.png"></div>
                <div class="building__img-big" href="/img/b-01.png"><img src="/img/b-01.png"></div>
                <div class="building__img-big" href="/img/b-01.png"><img src="/img/b-01.png"></div>
              </div>
            </div>
            <div class="building__img-thumbs">
              <div class="js-building__img-thumbs"><a class="building__img-thumb" href="/img/b-02.png" data-slide-index="0"><img src="/img/b-02.png"></a><a class="building__img-thumb" href="/img/b-03.png" data-slide-index="1"><img src="/img/b-03.png"></a><a class="building__img-thumb" href="/img/b-04.png" data-slide-index="2"><img src="/img/b-04.png"></a><a class="building__img-thumb" href="/img/b-05.png" data-slide-index="3"><img src="/img/b-05.png"></a><a class="building__img-thumb" href="/img/b-05.png" data-slide-index="4"><img src="/img/b-05.png"></a></div>
            </div>
          </div>
          <div class="building__plan">
            <div class="plan">
              <div class="plan__construct">
                <div class="plan__section-a">
                  <div class="plan__roof"></div>
                  <div class="plan__row"><a class="plan__ap" href="#">3</a><a class="plan__ap" href="#">3</a><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">1</a></div>
                  <div class="plan__row"><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div><a class="plan__ap" href="#">2</a>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div><a class="plan__ap" href="#">3</a>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">3</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div><a class="plan__ap" href="#">3</a>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">3</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">1</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div><a class="plan__ap" href="#">1</a>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">3</a><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">1</a><a class="plan__ap" href="#">1</a><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">3</a></div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div><a class="plan__ap" href="#">3</a>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">1</a><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__footer"></div>
                  <div class="plan__section-title">Секция В</div>
                </div>
                <div class="plan__section-b">
                  <div class="plan__roof"></div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div><a class="plan__ap" href="#">2</a>
                  </div>
                  <div class="plan__row">
                    <div class="plan__ap"></div><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">3</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div><a class="plan__ap" href="#">3</a>
                  </div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div><a class="plan__ap" href="#">3</a>
                  </div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div><a class="plan__ap" href="#">2</a>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">3</a><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">3</a></div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">1</a>
                    <div class="plan__ap"></div><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">3</a><a class="plan__ap" href="#">3</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row">
                    <div class="plan__ap"></div><a class="plan__ap" href="#">2</a><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__footer"></div>
                  <div class="plan__section-title">Секция Б</div>
                </div>
                <div class="plan__section-c">
                  <div class="plan__roof"></div>
                  <div class="plan__row"><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div><a class="plan__ap" href="#">2</a>
                  </div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div><a class="plan__ap" href="#">2</a>
                  </div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row"><a class="plan__ap" href="#">2</a>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__row">
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                    <div class="plan__ap"></div>
                  </div>
                  <div class="plan__footer"></div>
                  <div class="plan__section-title">Секция А</div>
                </div>
              </div>
              <div class="plan-tips">
                <div class="plan__ap plan__ap--tips">3</div>- зеленый цвет показывает наличие свободной квартиры, цифра - количество комнат
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="building__other building__other--orange">
        <div class="inner">
          <div class="block-title">Другие дома Этого микрорайона</div>
          <div class="building__other-list"><a class="building__other-item" href="#"><img src="/img/ob-01.png"></a><a class="building__other-item" href="#"><img src="/img/ob-02.png"></a><a class="building__other-item" href="#"><img src="/img/ob-03.png"></a><a class="building__other-item" href="#"><img src="/img/ob-04.png"></a><a class="building__other-item" href="#"><img src="/img/ob-01.png"></a><a class="building__other-item" href="#"><img src="/img/ob-02.png"></a><a class="building__other-item" href="#"><img src="/img/ob-03.png"></a><a class="building__other-item" href="#"><img src="/img/ob-04.png"></a></div>
        </div>
      </div>
      <div class="documents">
        <div class="inner">
          <div class="block-title">Документы</div>
          <div class="documents__list">
            <div class="documents__col"><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a></div>
            <div class="documents__col"><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a></div>
          </div>
        </div>
      </div>
      <footer class="site-footer">
        <div class="inner fx"><a class="site-footer__logo" href="/"><img src="/img/template/logo-footer.png">Мордовская ипотечная корпорация</a>
          <ul class="site-footer__menu">
            <li><a href="#">О компании</a></li>
            <li><a href="#">Как нас найти</a></li>
            <li><a href="#">Реквизиты</a></li>
            <li><a href="#">Партнеры</a></li>
          </ul>
          <ul class="site-footer__menu">
            <li><a href="#">Проектные декларации</a></li>
            <li><a href="#">Регламентирующие документы</a></li>
            <li><a href="#">Конкурсная документация</a></li>
            <li><a href="#">Акционерам</a></li>
            <li><a href="#">Жилищно-накопительные кооперативы</a></li>
          </ul>
        </div>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/lib.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
