build/ipoteka.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Сайт компании
    </title>
    <meta description="" content="">
    <meta keywords="" content="">
    <link rel="stylesheet" href="css/screen.css">
  </head>
  <body>
    <header class="site-header">
      <div class="inner">
        <div class="site-header__top"><a class="site-header__logo" href="/"><img src="/img/template/logo.png">Мордовская ипотечная корпорация</a>
          <div class="site-header__info"><a class="site-header__email" href="mailto:ipoteka@moris.ru"> ipoteka@moris.ru</a><a class="site-header__phone" href="tel:88002002624">8-800-200-26-24</a><a class="site-header__phone" href="tel:+78342246895">+7 8342 24-68-95</a><a class="btn--callme js-callme" href="#">Заказать звонок</a></div>
        </div>
      </div>
      <div class="site-header__bottom">
        <div class="inner">
          <!-- is-active - активная ссылка-->
          <ul class="main-menu">
            <li><a href="#">О компании </a></li>
            <li><a href="#">Построеные</a></li>
            <li><a href="#">Строящиеся</a></li>
            <li><a href="#">Ипотека</a></li>
            <li><a href="#">Социальные проекты</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="site-content">
      <div class="inner-banner"></div>
      <div class="inner flex-row">
        <aside>
          <nav>
            <ul class="left-menu">
              <li><a class="active" href="#">О коммерческой ипотеке</a></li>
              <li><a href="#">Если вам положена субсидия</a></li>
              <li><a href="#">Условия страхования</a></li>
              <li><a href="#">Расходы заемщика по ипотечному займу</a></li>
              <li><a href="#">Полная стоимость кредита</a></li>
            </ul>
          </nav>
        </aside>
        <div class="content">
          <!-- эта фигня заменяет хлебные крошки базового шаблона, в данном случае обнуляет их потому что страница главная-->
          <div class="page-heading">
            <h1>Подать заявку</h1>
          </div>
          <p>Для приобретения жилья необходимо обратиться непосредственно в Мордовскую ипотечную корпорацию и написать заявление о своем намерении приобрести жилье . Можно также прислать заявку через Интернет , заполнив приведенную ниже анкету:</p>
          <form class="ipoteka-form">
            <input class="ipoteka-form__field ipoteka-form__field--name" type="text" placeholder="ФАМИЛИЯ ИМЯ ОТЧЕСТВО" name="name">
            <div class="flex-row">
              <div class="ipoteka-form__col">
                <input class="ipoteka-form__field ipoteka-form__field--phone" type="tel" placeholder="НОМЕР ТЕЛЕФОНА" name="phone">
              </div>
              <div class="ipoteka-form__sep">или</div>
              <div class="ipoteka-form__col">
                <input class="ipoteka-form__field ipoteka-form__field--email" type="email" placeholder="ЭЛ. ПОЧТА" name="email">
              </div>
            </div>
            <div class="flex-row">
              <div class="ipoteka-form__col">
                <input class="ipoteka-form__field ipoteka-form__field--family" type="text" placeholder="КОЛИЧЕСТВО ЧЛЕНОВ СЕМЬИ" name="count">
              </div>
            </div>
            <div class="flex-row">
              <div class="ipoteka-form__col">
                <input class="ipoteka-form__field ipoteka-form__field--calc" type="text" placeholder="СОВОКУПНЫЙ ДОХОД" name="total">
              </div>
              <div class="ipoteka-form__sep"></div>
              <div class="ipoteka-form__col">
                <input class="ipoteka-form__field ipoteka-form__field--bag" type="text" placeholder="СОБСТВЕННЫЕ СРЕДСТВА" name="field">
              </div>
            </div>
            <div class="flex-row">
              <div class="ipoteka-form__col">
                <input class="ipoteka-form__field ipoteka-form__field--sert" type="text" placeholder="НАЛИЧИЕ СЕРТИФИКАТА" name="sert">
              </div>
            </div>
            <div class="ipoteka-form__footer">
              <input class="ipoteka-form__submit btn--orng" type="submit" value="Отправить"><a class="ipoteka-form__question" href="#">Задать вопрос</a>
            </div>
          </form>
        </div>
      </div>
      <div class="documents">
        <div class="inner">
          <div class="block-title">Документация, необходимая при обращении</div>
          <div class="documents__list">
            <div class="documents__col"><a class="documents__item" href="#">Положительное заключение Государственной экспертизы (Дом 14)</a><a class="documents__item" href="#">Разрешение на строительство дом 14 (продление срока до 17.06.2017г.)</a><a class="documents__item" href="#">Разрешениена строительство дом 14</a><a class="documents__item" href="#">Изменения в Проектную декларацию от 16.03.2015г. Дом 14</a><a class="documents__item" href="#">Изменения в Проектную декларацию от 31.03.2015г. Дом 14</a><a class="documents__item" href="#">Изменения в Проектную декларацию от 29.08.2015г. Дом 14</a></div>
            <div class="documents__col"><a class="documents__item" href="#">Изменения в Проектную декларацию от 29.08.2015г. Дом 14</a><a class="documents__item" href="#">Разрешение на строительство дом 14</a><a class="documents__item" href="#">Проектная декларация. Дом 14</a><a class="documents__item" href="#">Изменения в Проектную декларацию от 30.10.2015г. Дом 14</a></div>
          </div>
        </div>
      </div>
      <div class="partners">
        <div class="inner">
          <div class="block-title">Партнёры</div>
          <div class="partners__slider">
            <div class="js-partners-slider"><a href="$"><img src="/img/p-01.png"></a><a href="$"><img src="/img/p-02.png"></a><a href="$"><img src="/img/p-03.png"></a><a href="$"><img src="/img/p-04.png"></a><a href="$"><img src="/img/p-05.png"></a><a href="$"><img src="/img/p-06.png"></a></div>
          </div>
        </div>
      </div>
      <footer class="site-footer">
        <div class="inner fx"><a class="site-footer__logo" href="/"><img src="/img/template/logo-footer.png">Мордовская ипотечная корпорация</a>
          <ul class="site-footer__menu">
            <li><a href="#">О компании</a></li>
            <li><a href="#">Как нас найти</a></li>
            <li><a href="#">Реквизиты</a></li>
            <li><a href="#">Партнеры</a></li>
          </ul>
          <ul class="site-footer__menu">
            <li><a href="#">Проектные декларации</a></li>
            <li><a href="#">Регламентирующие документы</a></li>
            <li><a href="#">Конкурсная документация</a></li>
            <li><a href="#">Акционерам</a></li>
            <li><a href="#">Жилищно-накопительные кооперативы</a></li>
          </ul>
        </div>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/lib.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>

src/ipoteka.pug
extends ./layout/base.pug
include ./layout/header.pug

  block top-bar
    .inner-banner
  block main-section
    .inner.flex-row
      block aside-left
        aside
          nav
            ul.left-menu
              li: a(href='#').active О коммерческой ипотеке
              li: a(href='#') Если вам положена субсидия
              li: a(href='#') Условия страхования
              li: a(href='#') Расходы заемщика по ипотечному займу
              li: a(href='#') Полная стоимость кредита
      block content
        .content
          block breadcrumb
            // эта фигня заменяет хлебные крошки базового шаблона, в данном случае обнуляет их потому что страница главная
          .page-heading: h1 Подать заявку
          p Для приобретения жилья необходимо обратиться непосредственно в Мордовскую ипотечную корпорацию и написать заявление о своем намерении приобрести жилье . Можно также прислать заявку через Интернет , заполнив приведенную ниже анкету:
          form.ipoteka-form
            input(type='text' placeholder='ФАМИЛИЯ ИМЯ ОТЧЕСТВО' name='name').ipoteka-form__field.ipoteka-form__field--name
            .flex-row
              .ipoteka-form__col
                input(type='tel' placeholder='НОМЕР ТЕЛЕФОНА' name='phone').ipoteka-form__field.ipoteka-form__field--phone
              .ipoteka-form__sep или
              .ipoteka-form__col
                input(type='email' placeholder='ЭЛ. ПОЧТА' name='email').ipoteka-form__field.ipoteka-form__field--email
            .flex-row
              .ipoteka-form__col
                input(type='text' placeholder='КОЛИЧЕСТВО ЧЛЕНОВ СЕМЬИ' name='count').ipoteka-form__field.ipoteka-form__field--family
            .flex-row
              .ipoteka-form__col
                input(type='text' placeholder='СОВОКУПНЫЙ ДОХОД' name='total').ipoteka-form__field.ipoteka-form__field--calc
              .ipoteka-form__sep
              .ipoteka-form__col
                input(type='text' placeholder='СОБСТВЕННЫЕ СРЕДСТВА' name='field').ipoteka-form__field.ipoteka-form__field--bag
            .flex-row
              .ipoteka-form__col
                input(type='text' placeholder='НАЛИЧИЕ СЕРТИФИКАТА' name='sert').ipoteka-form__field.ipoteka-form__field--sert
            .ipoteka-form__footer
              input(type='submit' value='Отправить').ipoteka-form__submit.btn--orng
              a(href='#').ipoteka-form__question Задать вопрос
  block bottom
    .documents
      .inner
        .block-title Документация, необходимая при обращении
        .documents__list
          .documents__col
            a.documents__item(href='#') Положительное заключение Государственной экспертизы (Дом 14)
            a.documents__item(href='#') Разрешение на строительство дом 14 (продление срока до 17.06.2017г.)
            a.documents__item(href='#') Разрешениена строительство дом 14
            a.documents__item(href='#') Изменения в Проектную декларацию от 16.03.2015г. Дом 14
            a.documents__item(href='#') Изменения в Проектную декларацию от 31.03.2015г. Дом 14
            a.documents__item(href='#') Изменения в Проектную декларацию от 29.08.2015г. Дом 14
          .documents__col
            a.documents__item(href='#') Изменения в Проектную декларацию от 29.08.2015г. Дом 14
            a.documents__item(href='#') Разрешение на строительство дом 14
            a.documents__item(href='#') Проектная декларация. Дом 14
            a.documents__item(href='#') Изменения в Проектную декларацию от 30.10.2015г. Дом 14
    include ./layout/block/parters.pug
include ./layout/footer.pug
