src/mk2.pug
.mk2__map
  img(src='/img/mk2.jpg')
  -
    var bulbs = [
    {top: '230', left: '410',angle: '-130', text: '4-1', color: 'red'},
    {top: '143', left: '1300',angle: '-130', text: '4-3', color: 'grey'},
    {top: '80', left: '1090',angle: '-130', text: '4-3', color: 'red'},
    {top: '20', left: '890',angle: '-130', text: '4-3', color: 'red'},
    {top: '324', left: '260',angle: '0', text: '5', color: 'red'},
    {top: '420', left: '190',angle: '0', text: '6', color: 'grey'},
    {top: '520', left: '128',angle: '0', text: '7', color: 'red'},
    {top: '640', left: '84',angle: '0', text: '8', color: 'red'},
    {top: '280', left: '1730',angle: '0', text: '12-1', color: 'red'},
    {top: '314', left: '1640',angle: '0', text: '12-2', color: 'red'},
    {top: '460', left: '1640',angle: '0', text: '12-3', color: 'red'},
    {top: '533', left: '1758',angle: '0', text: '12-4', color: 'red'},
    {top: '270', left: '1330',angle: '0', text: '12-5', color: 'red'},
    {top: '303', left: '1421',angle: '0', text: '12-6', color: 'red'},
    {top: '420', left: '1411',angle: '0', text: '12-7', color: 'red'},
    {top: '485', left: '1295',angle: '0', text: '12-8', color: 'red'},
    {top: '290', left: '612',angle: '210', text: '9-3', color: 'red'},
    {top: '200', left: '940',angle: '0', text: '9-4', color: 'red'},

    {top: '315', left: '1177',angle: '0', text: '19', color: 'grey'},

    {top: '114', left: '456',angle: '-40', text: '6-3', color: 'grey'},
    {top: '170', left: '590',angle: '40', text: '6-4', color: 'red'},
    {top: '200', left: '737',angle: '-140', text: '9-2', color: 'red'},
    {top: '180', left: '840',angle: '-120', text: '9-1', color: 'red'},
    {top: '283', left: '1011',angle: '-120', text: '9-5', color: 'red'},

    {top: '37', left: '717',angle: '60', text: '6-1', color: 'red'},
    {top: '42', left: '600',angle: '60', text: '6-2', color: 'red'},

    {top: '10', left: '790',angle: '90', text: 'ТК', color: 'yellow bulb--small'},
    {top: '230', left: '1122',angle: '0', text: 'Сад', color: 'yellow bulb--small-2'},
    {top: '114', left: '790',angle: '0', text: 'Сад', color: 'yellow bulb--small-2'},
    {top: '190', left: '1450',angle: '0', text: 'МВД', color: 'yellow bulb--small-3'},
    {top: '436', left: '650',angle: '120', text: 'Школа', color: 'sc'},
    {top: '529', left: '1161',angle: '0', text: '', color: 'pl bulb--small'}
    ]
  a.bulb(style='right: ' + 0 + '%; top:' + 411 / 807 * 100 + '%;' href='#' class='bulb--st')
    .bulb__bg
    .bulb__text Стадион
  each i in bulbs
    a.bulb(style='top: ' + i.top / 807 * 100  + '%; left:' + i.left / 1920 * 100 + '%;' href='#' class='bulb--' + i.color)
      .bulb__bg
      .bulb__text= i.text
      .bulb__tips тут подсказку к тексту
//.mk2__legend
//  .mk2__legend-item <span class='mk2__legend-item-count'>1-1</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>1-2</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>2-1</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>2-2</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>3-1</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>3-2</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>4-1</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>4-2</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>4-3</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>4-4</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>4-5</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>5</span>
//    .mk2__legend-item-caption - 16 эт. жил. дом с нежил. помещ.
//  .mk2__legend-item <span class='mk2__legend-item-count'>6</span>
//    .mk2__legend-item-caption - 16 эт. жил. дом с нежил. помещ.
//  .mk2__legend-item <span class='mk2__legend-item-count'>7</span>
//    .mk2__legend-item-caption - 16 эт. жил. дом с нежил. помещ.
//  .mk2__legend-item <span class='mk2__legend-item-count'>8</span>
//    .mk2__legend-item-caption - 16 эт. жил. дом с нежил. помещ.
//  .mk2__legend-item <span class='mk2__legend-item-count'>9</span>
//    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>10</span>
//    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>11</span>
//    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>12</span>
//    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>13</span>
//    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>14</span>
//    .mk2__legend-item-caption - 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>15</span>
//    .mk2__legend-item-caption - 14 этаж. гостиничный комплекс
//  .mk2__legend-item <span class='mk2__legend-item-count'>16</span>
//    .mk2__legend-item-caption - 16 этаж. гостиничный комплекс
//  .mk2__legend-item <span class='mk2__legend-item-count'>17</span>
//    .mk2__legend-item-caption - 14 этаж. гостиничный комплекс
//  .mk2__legend-item <span class='mk2__legend-item-count'>18</span>
//    .mk2__legend-item-caption - 16 этаж. гостиничный комплекс
//  .mk2__legend-item <span class='mk2__legend-item-count'>19</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>20</span>
//    .mk2__legend-item-caption - 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>21</span>
//    .mk2__legend-item-caption - 16 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count'>22</span>
//    .mk2__legend-item-caption - 14 этажный жилой дом
//  .mk2__legend-item <span class='mk2__legend-item-count--bold'>ТК</span>
//    .mk2__legend-item-caption - торговый комплекс
//  .mk2__legend-item <span class='mk2__legend-item-count--bold'>ДС</span>
//    .mk2__legend-item-caption - детский сад на 240 мест
//  .mk2__legend-item.mk2__legend-item--last-in-col <span class='mk2__legend-item-count--bold'>ДС</span>
//    .mk2__legend-item-caption - детский сад на 240 мест
//  .mk2__legend-item <span class='mk2__legend-item-count--bold'>МВД</span>
//    .mk2__legend-item-caption - городское отделение полиции
//  .mk2__legend-item <span class='mk2__legend-item-count--bold'>Шк</span>
//    .mk2__legend-item-caption - школа на 1450 мест
//  .mk2__legend-item <span class='mk2__legend-item-count--bold'>С</span>
//    .mk2__legend-item-caption - территория общественного <br> пользования (скверы)
//  .mk2__legend-item <span class='mk2__legend-item-count--bold'>П</span>
//    .mk2__legend-item-caption - поликлиника
//  .mk2__legend-item <span class='mk2__legend-item-count--bold'>Б</span>
//    .mk2__legend-item-caption - бульвар
//  .mk2__company-title АО «Мордовская ипотечная корпорация»

build/mk2.html

<div class="mk2__map"><img src="/img/mk2.jpg"/><a class="bulb bulb--st" style="right: 0%; top:50.92936802973978%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">Стадион</div></a><a class="bulb bulb--red" style="top: 28.500619578686493%; left:21.354166666666664%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">4-1</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--grey" style="top: 17.71995043370508%; left:67.70833333333334%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">4-3</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 9.913258983890955%; left:56.770833333333336%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">4-3</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 2.478314745972739%; left:46.35416666666667%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">4-3</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 40.14869888475837%; left:13.541666666666666%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">5</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--grey" style="top: 52.04460966542751%; left:9.895833333333332%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">6</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 64.43618339529121%; left:6.666666666666667%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">7</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 79.30607187112764%; left:4.375%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">8</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 34.696406443618336%; left:90.10416666666666%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">12-1</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 38.90954151177199%; left:85.41666666666666%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">12-2</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 57.001239157372986%; left:85.41666666666666%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">12-3</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 66.04708798017349%; left:91.5625%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">12-4</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 33.457249070631974%; left:69.27083333333334%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">12-5</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 37.54646840148699%; left:74.01041666666667%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">12-6</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 52.04460966542751%; left:73.48958333333333%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">12-7</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 60.09913258983891%; left:67.44791666666666%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">12-8</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 35.93556381660471%; left:31.874999999999996%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">9-3</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 24.783147459727388%; left:48.95833333333333%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">9-4</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--grey" style="top: 39.03345724907063%; left:61.302083333333336%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">19</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--grey" style="top: 14.12639405204461%; left:23.75%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">6-3</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 21.065675340768276%; left:30.729166666666668%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">6-4</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 24.783147459727388%; left:38.385416666666664%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">9-2</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 22.304832713754646%; left:43.75%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">9-1</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 35.06815365551425%; left:52.65625000000001%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">9-5</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 4.584882280049566%; left:37.34375%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">6-1</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--red" style="top: 5.204460966542751%; left:31.25%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">6-2</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--yellow bulb--small" style="top: 1.2391573729863694%; left:41.14583333333333%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">ТК</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--yellow bulb--small-2" style="top: 28.500619578686493%; left:58.4375%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">Сад</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--yellow bulb--small-2" style="top: 14.12639405204461%; left:41.14583333333333%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">Сад</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--yellow bulb--small-3" style="top: 23.543990086741015%; left:75.52083333333334%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">МВД</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--sc" style="top: 54.0272614622057%; left:33.85416666666667%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text">Школа</div>
    <div class="bulb__tips">тут подсказку к тексту</div></a><a class="bulb bulb--pl bulb--small" style="top: 65.55142503097893%; left:60.46875000000001%" href="#">
    <div class="bulb__bg"></div>
    <div class="bulb__text"></div>
    <div class="bulb__tips">тут подсказку к тексту</div></a>
</div>
<!--.mk2__legend-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>1-1</span>-->
<!--    .mk2__legend-item-caption - 16 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>1-2</span>-->
<!--    .mk2__legend-item-caption - 16 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>2-1</span>-->
<!--    .mk2__legend-item-caption - 16 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>2-2</span>-->
<!--    .mk2__legend-item-caption - 16 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>3-1</span>-->
<!--    .mk2__legend-item-caption - 16 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>3-2</span>-->
<!--    .mk2__legend-item-caption - 16 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>4-1</span>-->
<!--    .mk2__legend-item-caption - 16 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>4-2</span>-->
<!--    .mk2__legend-item-caption - 16 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>4-3</span>-->
<!--    .mk2__legend-item-caption - 16 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>4-4</span>-->
<!--    .mk2__legend-item-caption - 16 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>4-5</span>-->
<!--    .mk2__legend-item-caption - 16 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>5</span>-->
<!--    .mk2__legend-item-caption - 16 эт. жил. дом с нежил. помещ.-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>6</span>-->
<!--    .mk2__legend-item-caption - 16 эт. жил. дом с нежил. помещ.-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>7</span>-->
<!--    .mk2__legend-item-caption - 16 эт. жил. дом с нежил. помещ.-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>8</span>-->
<!--    .mk2__legend-item-caption - 16 эт. жил. дом с нежил. помещ.-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>9</span>-->
<!--    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>10</span>-->
<!--    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>11</span>-->
<!--    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>12</span>-->
<!--    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>13</span>-->
<!--    .mk2__legend-item-caption - 8, 12, 14 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>14</span>-->
<!--    .mk2__legend-item-caption - 14 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>15</span>-->
<!--    .mk2__legend-item-caption - 14 этаж. гостиничный комплекс-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>16</span>-->
<!--    .mk2__legend-item-caption - 16 этаж. гостиничный комплекс-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>17</span>-->
<!--    .mk2__legend-item-caption - 14 этаж. гостиничный комплекс-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>18</span>-->
<!--    .mk2__legend-item-caption - 16 этаж. гостиничный комплекс-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>19</span>-->
<!--    .mk2__legend-item-caption - 16 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>20</span>-->
<!--    .mk2__legend-item-caption - 14 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>21</span>-->
<!--    .mk2__legend-item-caption - 16 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count'>22</span>-->
<!--    .mk2__legend-item-caption - 14 этажный жилой дом-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count--bold'>ТК</span>-->
<!--    .mk2__legend-item-caption - торговый комплекс-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count--bold'>ДС</span>-->
<!--    .mk2__legend-item-caption - детский сад на 240 мест-->
<!--  .mk2__legend-item.mk2__legend-item--last-in-col <span class='mk2__legend-item-count--bold'>ДС</span>-->
<!--    .mk2__legend-item-caption - детский сад на 240 мест-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count--bold'>МВД</span>-->
<!--    .mk2__legend-item-caption - городское отделение полиции-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count--bold'>Шк</span>-->
<!--    .mk2__legend-item-caption - школа на 1450 мест-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count--bold'>С</span>-->
<!--    .mk2__legend-item-caption - территория общественного <br> пользования (скверы)-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count--bold'>П</span>-->
<!--    .mk2__legend-item-caption - поликлиника-->
<!--  .mk2__legend-item <span class='mk2__legend-item-count--bold'>Б</span>-->
<!--    .mk2__legend-item-caption - бульвар-->
<!--  .mk2__company-title АО «Мордовская ипотечная корпорация»-->
